@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_b01 {}
#bo_list a.btn_b01:focus, #bo_list a.btn_b01:hover {}
#bo_list a.btn_b02 {}
#bo_list a.btn_b02:focus, #bo_list a.btn_b02:hover {}
#bo_list a.btn_admin {} /* 관리자 전용 버튼 */
#bo_list a.btn_admin:focus, #bo_list .btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {}
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}

/* 기본 테이블 */
/* 목록 테이블 */
#bo_list .tbl_head01 {}
#bo_list .tbl_head01 caption {}
#bo_list .tbl_head01 thead th {}
#bo_list .tbl_head01 thead a {}
#bo_list .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_list .tbl_head01 tfoot th {}
#bo_list .tbl_head01 tfoot td {}
#bo_list .tbl_head01 tbody th {}
#bo_list .tbl_head01 td {}
#bo_list .tbl_head01 a {}
#bo_list td.empty_table {}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_info {}
#bo_w .frm_address {}
#bo_w .frm_file {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w tbl_frm01 .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_gall {margin-bottom:20px;overflow:hidden}
#bo_gall h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_gall #gall_ul {margin:0 0 20px;padding:0;list-style:none;}
#bo_gall .gall_box {position:relative;margin:0; overflow:hidden;}
#bo_gall .gall_li .gall_chk{position:absolute;top:0;right:0;padding:5px;z-index:1;}

.gall_row > li.gallWST{position:relative;margin-left:-0.03em;}

.gall_row  > li.col-gn-0,.gall_row .col-gn-1,.gall_row .col-gn-2,.gall_row .col-gn-3,.gall_row .col-gn-4,.gall_row .col-gn-5,.gall_row .col-gn-6,.gall_row .col-gn-7,.gall_row .col-gn-8,.gall_row .col-gn-9,.gall_row .col-gn-10{position:relative;min-height:1px;float:left;}
.gall_row  > li.gallWST.col-gn-0,.latest_row .col-gn-1,.gall_row  > li.gallWST.col-gn-1{width:100% !important;}
.gall_row  > li.gallWST.col-gn-2{width:50% !important;}
.gall_row  > li.gallWST.col-gn-3{width:33.33333333% !important;}
.gall_row  > li.gallWST.col-gn-4{width:25% !important;}
.gall_row  > li.gallWST.col-gn-5{width:20% !important;}
.gall_row  > li.gallWST.col-gn-6{width:16.66666667% !important;}
.gall_row  > li.gallWST.col-gn-7{width:14.28571428% !important;}
.gall_row  > li.gallWST.col-gn-8{width:12.5% !important;}
.gall_row  > li.gallWST.col-gn-9{width:11.11111111% !important;}
.gall_row  > li.gallWST.col-gn-10{width:10% !important;}


#bo_gall .gall_now .gall_text_href a {color:#ffff33}

#bo_gall .gall_href a:link, #bo_gall .gall_href a:focus, #bo_gall .gall_href a:hover {text-decoration:none}
#bo_gall .gall_boxa{text-align:center;position:relative;margin:10px 10px 0 10px;border:1px solid #ddd;overflow:hidden;}
#bo_gall .gall_boxa a,#bo_gall .gall_img .no_image,#bo_gall .gall_img .is_notice{display:block}
#bo_gall .gall_boxa a .iconPs{font-style:normal;position:absolute; left:10px;top:10px;z-index:1;}
#bo_gall .gall_boxa a .icoNotice{display:inline-block;padding:5px;background-color:#000;border-radius:3px;color:#fff;}
#bo_gall .gall_boxa a > img{display:block;width:100% !important;min-width:100%;height:auto !important;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#bo_gall .gall_boxa a b{display:block; position:absolute; left:0px; top:50%; height:30px; line-height:30px; margin-top:-15px;color:#999;font-size:12px; font-family:verdana;letter-spacing:2px;font-weight:normal;width:100%;}
#bo_gall .gall_boxa .gall_info{font-style:normal;position:absolute; left:0px; bottom:-50%;text-align:center;width:100%;height:20px;color:#fff;;font-size:0.92em;line-height:20px; margin-top:-10px;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#bo_gall .gall_boxa .gall_info strong{ display:inline-block;margin:0 0 0 10px }
#bo_gall .gall_boxa .gall_info i{font-size:12px}
#bo_gall .gall_boxa .gall_info .gall_date{font-style:italic;display:inline-block;color:#fff;}
#bo_gall .gall_boxa .gall_info u{display:block;color:#fff;text-decoration:none;}
#bo_gall .gall_boxa .gall_info u .sv_member{color:#fff;}
#bo_gall .gall_boxa a .imgAr{display:block;width:300px;max-width:100%;min-width:100%; height:230px;overflow:hidden;}
#bo_gall .gall_boxa a .imgAr img{display:block;width:100%;max-width:100%;min-width:100%; height:auto;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#bo_gall .gall_box:hover .gall_info{bottom:50%;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#bo_gall .gall_box:hover .gall_boxa{background:#fff;}
#bo_gall .gall_box:hover .gall_boxa a .imgAr{width:300px; height:230px;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
#bo_gall .gall_box:hover .gall_boxa a .imgAr img{transform: scale(1.1);-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}

#bo_gall .gall_text_href {padding:10px 10px 30px 10px;}
#bo_gall .gall_text_href a {font-weight:bold; color:#000;}
#bo_gall .gall_text_href img {margin:0 0 0 4px}
#bo_gall .bo_tit{display:block;font-weight:bold;color:#000;font-size:14px;height:30px; line-height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; text-align:center;}
#bo_gall .bo_tit .cnt_cmt{background:#5c85c1;color:#fff; font-size:12px;height:20px;line-height:20px;padding:0 5px;border-radius:3px;vertical-align:middle;}
#bo_gall .profile_img img{border-radius:50%}
#bo_gall .gall_name{margin:10px}
#bo_gall .bo_cate_link{display:block;;filter:Alpha(opacity=50); opacity:0.5; -moz-opacity:0.5;text-align:center;font-size:11px;height:20px; line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; text-align:center;}

.noDataArea{margin-bottom:20px;}

.gall_row  > li.gallWST  .gall_textMv{display:none !important;}

.gall_row  > li.gallWST.col-gn-1{position:relative; overflow:hidden; border-top:1px solid #ddd;  padding:15px; width:100% !important}
.gall_row  > li:last-child.gallWST.col-gn-1{border-bottom:1px solid #ddd; margin-bottom:20px;}
.gall_row  > li.gallWST.col-gn-1 .gall_boxa{max-width:150px; float:right;margin-left:10px; padding:0px !important;border:0px !important;}
.gall_row  > li.gallWST.col-gn-1 .gall_text_href{ text-align:left;overflow:hidden;}
.gall_row  > li.gallWST.col-gn-1 .gall_text_href .bo_tit{font-size:20px !important; text-align:left !important;display:block; width:auto !important;} 
.gall_row  > li.gallWST.col-gn-1 .gall_textMv{display:inline !important;}
.gall_row  > li.gallWST.col-gn-1 .gall_textMv em{display:block !important;font-size:14px;color:#666;padding:10px 0; font-style:normal;}
.gall_row  > li.gallWST.col-gn-1 .gall_textMv .btn_b02{display:block !important;color:#fff !important; float:left; margin-top:10px;}
.gall_row  > li.gallWST.col-gn-1 .gall_text_href .bo_tit:hover{text-decoration:underline;}
.gall_row  > li.gallWST.col-gn-1 .gall_text_href a.bo_cate_link{display:block !important;text-align:left !important; color:#ff6600 !important;}

@media all and (max-width: 800px)
{
	.gall_row .box_clear{clear:none;}
	.gall_row  > li.col-gn-0,.gall_row  > li.gallWST.col-gn-2,.gall_row  > li.gallWST.col-gn-3,.gall_row  > li.gallWST.col-gn-4,.gall_row  > li.gallWST.col-gn-5,.gall_row  > li.gallWST.col-gn-6,.gall_row  > li.gallWST.col-gn-7,.gall_row  > li.gallWST.col-gn-8,.gall_row  > li.gallWST.col-gn-9,.gall_row  > li.gallWST.col-gn-10,
	.gall_row  > li.gallWST{width:33.33333333% !important;}

	.gall_row  > li.gallWST.col-gn-1{padding:0px;overflow:hidden;}
	

	.gall_row  > li.gallWST.col-gn-1 .gall_boxa{width:20%;max-width:100px;margin:0;padding:0px;}
	.gall_row  > li.gallWST.col-gn-1 .gall_text_href .bo_tit{font-size:16px !important;}
	.gall_row  > li.gallWST.col-gn-1 .gall_textMv {overflow:hidden;padding:0; margin:0;}
	.gall_row  > li.gallWST.col-gn-1 .gall_textMv em{font-size:11px !important;}
	.gall_row  > li.gallWST.col-gn-1 .gall_textMv .btn_b02{display:none !important;}
}
@media all and (max-width: 680px)
{
	.gall_row  > li.col-gn-0,.gall_row  > li.gallWST.col-gn-2,.gall_row  > li.gallWST.col-gn-3,.gall_row  > li.gallWST.col-gn-4,.gall_row  > li.gallWST.col-gn-5,.gall_row  > li.gallWST.col-gn-6,.gall_row  > li.gallWST.col-gn-7,.gall_row  > li.gallWST.col-gn-8,.gall_row  > li.gallWST.col-gn-9,.gall_row  > li.gallWST.col-gn-10,
	.gall_row > li.gallWST{width:50% !important;}
}

/* 상세보기 */
.prodWrap{width:100%; overflow:hidden;  position:relative; border-bottom:5px solid #ccc; padding-bottom:45px; margin-bottom:50px;}

.prod01{width:45%; float:left; text-align:center;}
.prod01 #bigphoto{width:90%; margin:0 auto !important; padding:0px;}
.prod01 #bigphoto li{ margin:0 !important; padding:0px;}
.prod01 #bigphoto li a{ margin:0; padding:0px;}
.prod01 #bigphoto li a img{display:block; width:100%; height:auto;}
.prod01 .smallphoto{width:90%; margin:-30px auto 0 ; text-align:center; padding:0px;}
.prod01 .smallphoto a {display:inline-block; width:50px; height:50px; margin:0 1%; border:1px solid #ccc; overflow:hidden; border-radius:50%;cursor:pointer; background-position:center center;background-size:150% auto;}
.prod01 .smallphoto a:hover{border:1px solid #999;}
.prod01 .smallphoto a.active{border:1px solid #000}
.prod02{width:50%; float:right; position:relative; text-align:center;}
.prod02 h2{font-size:26px; color:#000; padding-top:60px;}
.prod02 .sbjB1{padding:10px 30px 0; font-size:16px; color:#666; letter-spacing:-0.05em;}
.prod02 .sbjB2{padding:60px 60px 0 60px; font-size:14px; color:#666;}
.prod02 ul{ border-top:1px solid #e5e5e5; margin-top:30px;padding:45px; text-align:left;}
.prod02 ul li{padding:5px; font-size:13px; color:#666; letter-spacing:0.05em;}
.prodVbtn{overflow:hidden; text-align:center;  position:relative; margin:0 auto; padding:20px; background:#efefef;}
.prodVbtn h3{text-align:left; font-size:14px; color:#666; padding-bottom:10px;}
.prodVbtn a{display:block; width:33%; height:50px; line-height:50px; background:#333; color:#fff;font-size:13px; overflow:hidden ; float:left;
	-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.prodVbtn a:hover{filter:Alpha(opacity=80); opacity:0.8; -moz-opacity:0.8;
	-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.prodVbtn a:nth-child(3){margin:0 0.5% !important;}
.bigphotoNoimg{display:block;width:100%;position:relative;}
.bigphotoNoimg img{display:block;width:100%;}
.bigphotoNoimg b{color:#999; font-size:16px;position:absolute;left:0px;width:100%; top:50%; height:30px; line-height:30px;margin-top:-15px;}

#bo_v_title .bo_v_cate{font-size:12px; display:block; padding:15px;margin-bottom:10px;}
#bo_v_info{text-align:center;}
@media all and (max-width: 900px)
{
	.prodWrap{background:none;}
	.prod01{width:100%; max-width:500px; margin:0 auto; float:none;}
	.prod01 .smallphoto a {width:40px; height:40px;}

	.prod02{width:100%; float:none;}
	.prod02 h2{font-size:20px; padding-top:0px;}
	.prod02 .sbjB1{padding:10px; font-size:14px;}
	.prod02 .sbjB2{padding:10px 10px 10px 10px; font-size:12px;}

	.prod02 ul{ padding:15px;}
	.prod02 ul li{padding:3px; font-size:12px;}

	.prodVbtn {padding:10px;}
	.prodVbtn a{font-size:11px;}

	.prodVbtnB a{width:50px; height:50px; background-size:100% auto !important;}

}


/* 폰트 1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

/* 폰트 2 */
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
  font-family: 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

input{
/*ios대응*/
appearance: none;
-webkit-appearance: none;
-webkit-border-radius: 0;
}

select{
/*ios대응*/
-webkit-appearance: none;
-moz-appearance: none; 
appearance: none;
}

/* 라이브러리 */
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}

/*.flex-jc-fe {
  justify-content:flex-end;
}*/

.flex-jc-fs {
  justify-content:flex-start;
}

.flex-jc-sb{
  justify-content:space-between;
}

.flex-jc-sa{
  justify-content:space-around;
}
.flex-ai-c {
  align-items:center;
}

.flex-ai-fe {
  align-items:flex-end;
}

.flex-ai-fs{
  align-items:flex-start;
}

.flex-as-c {
  align-self:center;
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-column {
  flex-direction:column;

}

.flex-grow-1 {
  flex-grow:1;
}

.flex-1-0-0 {
  flex:1 0 0;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.min-height-100vh {
  min-height:100vh;
}

.min-height-50vh {
  min-height:50vh;
}

.bd{
  border:3px solid;
}

.bd-w{
  border:3px solid white;
}

.bd-green {
  border:3px solid green;
}

.bd-red {
  border:3px solid red;
}

.bd-purple {
  border:3px solid purple;
}

.bd-blue {
  border:3px solid blue;
}

.bg-pink {
  background-color:pink;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.height-100p {
  height:100%;
}

.height-70p{
  height:70%;
}

.height-500px{
  height:500px;
}


.block {
  display:block;
}

.hover-underline:hover{
  text-decoration:underline;
}

@media ( min-width:721px ) {
  .visible-sm-down {
    display:none !important;
  }
}

@media ( max-width:720px ) {
  .visible-md-up {
    display:none !important;
  }
}


/* 커스텀 */
:root {
  --site-width:1200px;
}

body{

}

.con {
  max-width: var(--site-width);
  
}




/* 버튼 시작 */
.btn {
  height: 35px;
  font-size: 0.9rem;
  line-height: 1rem;
  text-shadow: 1px 1px 20px white;
  padding:0 15px;
  color: white;
  background-color: #444;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.btn:hover {
  background-color:	#222;
  box-shadow:3px 3px 3px gray;
  color: #FFF;
  font-weight:bold;
}

.m-btn {
  height:25px;
  width:65px;
  font-size: 0.9rem;
  line-height: 1rem;
  text-shadow: 1px 1px 20px white;
  padding:0 15px;
  color: white;
  background-color: #444;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.m-btn:hover {
  background-color:	#222;
  box-shadow:3px 3px 3px gray;
  color: #FFF;
  font-weight:bold;
}


.btn-go {
  background-color: #008B8B;
}

.btn-check {
  background-color: #3c3c3c;
}

.btn-danger {
  background-color: #800000;
}

.btn-back {
  background-color:	#696969;
}

.btn-modify {
  background-color:	#778899;
}
/* 버튼 끝 */

/* 탑 헤더 시작 */
.head-bar-section{
  width:100%;
	position:fixed;
	z-index:300;
  color:black;
  background-color:white;
  height:40px;
}

.head-bar > *{
  display:flex;

}

.head-bar-button{
  display:block;
  text-align:center;
  border:2.5px solid white;
  margin-top:10px;
  font-size:0.9rem;
  width:70px;
}
.head-bar-button:first-child{
  width:40px;
}

.head-bar-button:last-child{
  margin-right:15px;
}

.head-bar-button::after{
  display:block;
  content: '';
  border-bottom: solid 2.5px #777; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  z-index:30;
}

.head-bar-button:hover{
  font-weight:bold;
}

.head-bar-button:hover::after{
  transform: scaleX(0.5); 
  z-index:30;
}


/* 탑 헤더 끝 */

/* 탑바 시작 */
:root {
  --top-bar__height:78px;
}

.top-bar-padding{
  height:var(--top-bar__height);
}

.top-bar{
  position:fixed;
  width:100%;
  background-color:white;
  z-index:200;
  height:var(--top-bar__height);
  border-bottom:3px solid gray;
  box-shadow:5px 5px 5px rgba(220, 220, 220, 0.7);
}


/* 탑바 끝 */

/* 타이틀 시작 */
.title{
  width:200px;
  z-index:5000;
  position:relative;
 
}
.title img{
  position:absolute;
  top:65%;
  left:20%;
  height:30px;
  z-index:5000;
   
}
/* 타이틀 끝 */


/* 메뉴바 시작 */
.menu-bar{
  font-size:0.9rem;
  text-align:center;
  z-index:200;
}

.menu-bar_menu > ul>li{
  
}


.menu-bar_menu ul > li > a{
  
  padding:7px;
  padding-bottom:5px;
  color:black;
}

.menu-bar_menu ul > li > ul > li >a{
  color:black;
}


.menu-bar_menu > ul > li:hover{ 
  box-shadow:7px 7px 7px gray;
  transition: all 500ms;
}

.menu-bar_menu > ul > li:hover > a{
  font-weight:bold;
  color:black;
  background-color:white;
}

.menu-bar_menu > ul > li > a:after{
  display:block;
  content: '';
  border-bottom: solid 2.5px #777;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  
}

.menu-bar_menu > ul > li:hover > a:after{
  transform: scaleX(0.5);
}

.menu-bar_menu > ul > li{
  width:100px;
  position:relative;
 
}

.menu-bar_menu > ul ul {
  visibility:hidden;
  position:absolute;
  top:100%;
  width:100%;
  background-color:white;
  border-top-width:0;
  z-index:10;
  box-shadow:7px 7px 7px gray;
  
}

.menu-bar_menu ul > li:hover > ul{
  visibility:visible;
  
}

.menu-bar_menu ul > li > ul > li:hover >a{
  visibility:visible;
  font-weight:bold;
}

.menu-bar_menu ul > li > ul > li >a:after{
  display:block;
  content: '';
  border-bottom: solid 2.5px #777;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;

}

.menu-bar_menu ul > li > ul > li:hover > a:after{
  transform: scaleX(0.5);
  
}
/* 메뉴바 끝 */








/* 메인 컨텐츠 박스 시작 */
.main-box{
  min-height:1000px;
  
}

.main-box-section{
  

}

/* 메인 컨텐츠 박스 끝 */


/* 푸터 시작 */
.bottom-bar{
  font-size:0.8rem;
  color:black;
  background-color:white;
  border-top:3px solid gray;
  padding:20px;
}

/* 푸터 끝 */
/* 모바일-푸터 시작 */
.mobile-bottom-bar{
  font-size:0.7rem;
  color:black;
  background-color:white;
  border-top:2px solid gray;
  padding:10px 20px;
}

/* 모바일-푸터 끝 */


/* 로그인 페이지 시작 */
.section-login{
  margin-top:150px;
}
.section-login > form{
  text-align:center;
  border-radius:10% 10% 10% 10%;
  box-shadow:5px 10px 10px 10px gray;
  width:400px;
  font-size:1rem;
  font-weight:bold;
  padding:30px;
}
.section-login > form > div:not(.login-title){
  padding:5px;
  
}

.login-title{
  font-size:1.9rem;
  margin-top:5px;
  margin-bottom:30px;
  border-bottom:4px solid gray;
  padding-bottom:15px;
  text-shadow:3px 3px 5px gray;
  
}

.section-login > form > div > span{
  padding-bottom:3px;
  border-bottom:2.5px solid gray;
}

.login_cell__title{
  color:black;
}

.login_cell__body > input{
  font-size:1rem;
  font-weight:bold;
  border:none;
  border-bottom:1.5px solid #333;
  padding:5px;
  height:35px;
  width:90%;
  min-width:150px;
}
.loginInput_cell{
  margin-top:30px;
  font-size:0.9rem;

}

.loginInput_cell > div > button{
  margin:0 2px;
  padding:0 20px;
}

.loginInput_cell > div:last-child{
  padding-top:10px;
  
}

.loginInput_cell > div:last-child > a{
  padding:7px;
}

.loginInput_cell > div > a:hover{
  color:red;
  font-weight:bold;
  text-decoration:underline;
}



/* 로그인 페이지 끝 */
/* 모바일-로그인 페이지 시작 */
.mobile-section-login{
  
}
.mobile-section-login > form{
  text-align:left;
  width:100%;
  font-size:0.9rem;
  font-weight:bold;
  padding:20px 10px;
}
.mobile-section-login > form > div{
  padding:5px;
  
}

.mobile-section-login > form > div:not(:last-child){
  padding:5px 20px;
  
}

.mobile-login-title{
  text-align:center;
  font-size:1.5rem;
  margin:10px;
  margin-bottom:30px;
  border-bottom:4px solid gray;
  text-shadow:2px 2px 4px gray;
  
}

.mobile-section-login > form > div > span{
  padding-bottom:3px;
  border-bottom:2.5px solid gray;
}

.mobile-login_cell__title{
  color:black;
}

.mobile-login_cell__body > input{
  font-size:0.9rem;
  font-weight:bold;
  border:none;
  border-bottom:2px solid rgba(230,230,230,1);
  padding:5px;
  height:35px;
  width:90%;
  min-width:150px;
}
.mobile-loginInput_cell{
  margin-top:10px;
  font-size:0.9rem;

}
.mobile-loginInput_cell > div:first-child{
  display:flex;
  flex-direction:column;
}

.mobile-loginInput_cell > div > button{
  margin:5px 2px;
  padding:0 20px;
  font-size:0.9rem;
}

.mobile-loginInput_cell > div:last-child{
  text-align:center;
  padding-top:10px;
  
}

.mobile-loginInput_cell > div:last-child > a{
  padding:7px;
}

.mobile-loginInput_cell > div > a:hover{
  color:red;
  font-weight:bold;
  text-decoration:underline;
}



/* 모바일-로그인 페이지 끝 */



/* 회원가입 페이지 시작 */
.section-join{
  margin-top:100px;
  width:100%;
}
.section-join > form{
  text-align:left;
  width:950px;
  font-size:1rem;
  font-weight:bold;
  border-radius:20px 20px 20px 20px;
  box-shadow:5px 10px 10px 10px gray;
  padding:50px 10px;

  
}
.section-join > form > div{
  padding:10px;
  
}

.section-join > form > div:nth-child(2){
  font-size:2rem;
  text-shadow:3px 3px 5px gray;
}

.section-join > form > div:not(:last-child){
  border-right:4px solid gray;
  padding-right:40px;
}
.section-join > form > div:not(:nth-child(2)){
  padding-left:40px;
  
}

.join_cell__title{
  margin:10px 0;
  
}

.join_cell__title > span{
  padding-bottom:3px;
  border-bottom:3px solid gray;
  
}

.join_cell__body{
  margin:15px 0;
}

.join_cell__body > input{
  font-size:0.9rem;
  
  border:none;
  border-bottom:1.5px solid #333;
  padding:5px;
  margin-top:5px;
  height:25px;
  width:95%;
  min-width:150px;
}
.join_cell__body > .btn-check {
  margin-top:5px;
  margin-left:7px;
  width:95%;
  font-size:0.8rem;
}

.joinInput-cell{
  margin-top:80px;
  text-align:right;
}


/* 회원가입 페이지 끝 */
/* 모바일-회원가입 페이지 시작 */
.mobile-section-join{

  width:100%;
}
.mobile-section-join > form{
  text-align:left;
  width:950px;
  font-size:1rem;
  font-weight:bold;
  padding:50px 10px;

  
}
.mobile-section-join > form > div{
  padding:10px;
  
}

.mobile-section-join > form > div:nth-child(2){
  text-align:center;
  font-size:1.5rem;
  padding-bottom:10px;
  margin:10px;
  margin-bottom:30px;
  border-bottom:4px solid gray;
  text-shadow:2px 2px 4px gray;
}


.mobile-join_cell__title{
  margin:10px 0;
  
}

.mobile-join_cell__title > span{
  padding-bottom:3px;
  border-bottom:2.5px solid gray;
  
}

.mobile-join_cell__body{
  margin:10px 0;
}

.mobile-join_cell__body > input{
  font-size:0.9rem;
  border:none;
  border-bottom:2px solid rgba(230,230,230,1);
  padding:5px;
  margin-top:5px;
  height:25px;
  width:95%;
  min-width:150px;
}
.mobile-join_cell__body > .btn-check {
  margin-top:5px;
  margin-left:7px;
  width:95%;
}

.mobile-joinInput-cell > *{
  margin-top:5px;
}


/* 모바일-회원가입 페이지 끝 */




/* 회원정보 페이지 시작 */
.section-MyPage{
  padding-top:100px;
  padding-bottom:50px;
  
  
}
.section-MyPage > form{
  width:950px;
}

.section-MyPage > form > .section-MyPage-body{
  text-align:left;
  font-size:1rem;
  font-weight:bold;
  border-radius:20px 20px 20px 20px;
  box-shadow:5px 10px 10px 10px gray;
  padding:50px;

}

.section-MyPage-body > div:first-child{
  font-size:2rem;
  padding-right:30px;
  border-right:4px solid gray;
  text-shadow:3px 3px 5px gray;
}

.section-MyPage-body__cell{
  padding:10px 50px;
  width:280px;
}

.section-MyPage-body__cell:nth-child(2){
  padding-right:0px;
}

.section-MyPage-body__cell:last-child{
  border-left:4px solid gray;
}


.MyPage_cell__title{
  margin-bottom:10px;
  font-size:15px;
}
.MyPage_cell__title > span{
  padding-bottom:3px;
  border-bottom:3px solid gray;
}

.MyPage_cell__body{
  font-size:0.9rem;
  font-weight:normal;
  background-color:white;
  height:50px;
  padding-top:10px;
  display:flex;
  align-items:center;
}

.MyPage_cell__body > input{
  font-size:13px;
  height:30px;
  padding-top:10px;
  font-weight:normal;
  border:none;  
  display:flex;
  align-items:center;
}

.MyPage_cell__body > .btn{
  margin-left:5px;
  font-size:0.7rem;
  width:90px;
}

.section-MyPage-body__option button{
  margin-left:10px;
}

/* 회원정보 페이지 끝 */












