@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */
/* 새글 스킨 (latest) */

.webzLat {position:relative;margin-bottom:20px;overflow:hidden;text-align:center;padding:20px;}
.webzLat .webzLatTit {display:block;}
.webzLat .webzLatTit a{color:#333;display:inline-block;position:relative; margin:0 auto; padding:20px;font-size:20px; text-align:center;}
.webzLat .webzLatTit a u{display:block;width:50px;height:5px;background:#ddd;position:absolute; left:50%;bottom:0px; margin-left:-25px;}

.webzLat ul{padding:0px;margin:0;text-align:left;list-style:none;}
.webzLat li {list-style:none;margin:0px;padding:0px;border-bottom:1px dotted #ddd;}
.webzLat li a {display:block;font-size:13px;color:#666; padding:11px 12px;position:relative;overflow:hidden;}
.webzLat li a:hover{color:#000; background:#f6f6f6;}

.webzLat li a i.webzLatThumb{float:left;margin:0 10px 0 0;overflow:hidden;border-radius:50%;background-size:auto 200%;background-position:center center;}
.webzLat li a i.webzLatThumb img{display:block;}
.webzLat li a b{display:block;margin-bottom:10px; height:20px;line-height:20px; font-size:14px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.webzLat li a em{display:block; font-style:normal; font-size:12px;color:#666;overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;  line-height: 1.2em; height: 2.4em;}

.webzLat li a b i,
.webzLat li a b span{display:inline-block;vertical-align:middle;}

.webzLat li a span{font-size:11px;}
.webzLat li .fa-heart{color:#ff0000;}
.webzLat li .fa-lock{display: inline-block;font-size:11px;line-height: 14px;width: 16px;color: #999;background: #efefef;text-align: center;border-radius: 2px;font-size: 12px;border:1px solid #ddd}
.webzLat li .new_icon{display:inline-block;font-size:11px;width: 16px;line-height:16px;color:#fff;background:#ff6600;text-align:center;border-radius: 50%;}
.webzLat li .hot_icon{display:inline-block;font-size:11px;width: 16px;line-height:16px ;color:#fff;background:#e52955;text-align:center;border-radius: 50%;}
.webzLat li .fa-caret-right{color:#bbb}
.webzLat .lt_date{display:block;color:#999;height:20px;line-height:20px;font-size:10px;font-family:verdana;}

.webzLat  .empty_li{line-height:145px ;color:#666;text-align:center;padding:0;}
.webzLat  .empty_li:before{background:none;padding:0}
.webzLat .lt_cmt{display:inline-block;background:#333;color:#fff; font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;}

.webzLat .lt_more {clear:both;font-size:12px;font-weight:bold;display:inline-block; padding:10px 30px;color:#ddd;border-radius:50px;text-align:center; margin:20px auto 0;background:#333;border:2px solid #fff;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.webzLat .lt_more:hover{color:#fff;border:2px solid #333;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}

.webzLat .youtubeImbBlank{filter:Alpha(opacity=0); opacity:0; -moz-opacity:0;}

@media all and (max-width:650px)
{
	.webzLat {padding:5px;}
	.webzLat .webzLatTit a{padding:15px;font-size:16px;}
	.webzLat li a {font-size:12px;}
	.webzLat .lt_more{font-size:11px;letter-spacing:-0.05em;padding:10px 15px;}
	.webzLat li a i.webzLatThumb{width:60px;height:60px;}
	.webzLat li a em{ }

}