@charset "utf-8";
/* copyright(c) WEBsiting.co.kr */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_b01 {
	
}

#bo_list a.btn_b01:focus, #bo_list a.btn_b01:hover {
	
}

#bo_list a.btn_b02 {
	
}

#bo_list a.btn_b02:focus, #bo_list a.btn_b02:hover {
	
}

#bo_list a.btn_admin {
	
} /* 관리자 전용 버튼 */
#bo_list a.btn_admin:focus, #bo_list .btn_admin:hover {
	
}

/* 읽기 버튼 */
#bo_v a.btn_b01 {
	
}

#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {
	
}

#bo_v a.btn_b02 {
	
}

#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {
	
}

#bo_v a.btn_admin {
	
} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {
	
}

/* 쓰기 버튼 */
#bo_w .btn_confirm {
	
} /* 서식단계 진행 */
#bo_w .btn_submit {
	
}

#bo_w button.btn_submit {
	
}

#bo_w fieldset .btn_submit {
	
}

#bo_w .btn_cancel {
	
}

#bo_w button.btn_cancel {
	
}

#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {
	
}

#bo_w a.btn_frmline, #bo_w button.btn_frmline {
	
} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {
	
}

/* 기본 테이블 */
/* 목록 테이블 */
#bo_list .tbl_head01 {
	
}

#bo_list .tbl_head01 caption {
	
}

#bo_list .tbl_head01 thead th {
	
}

#bo_list .tbl_head01 thead a {
	
}

#bo_list .tbl_head01 thead th input {
	
} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_list .tbl_head01 tfoot th {
	
}

#bo_list .tbl_head01 tfoot td {
	
}

#bo_list .tbl_head01 tbody th {
	
}

#bo_list .tbl_head01 td {
	
}

#bo_list .tbl_head01 a {
	
}

#bo_list td.empty_table {
	
}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {
	
}

#bo_v .tbl_head01 caption {
	
}

#bo_v .tbl_head01 thead th {
	
}

#bo_v .tbl_head01 thead a {
	
}

#bo_v .tbl_head01 thead th input {
	
} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {
	
}

#bo_v .tbl_head01 tfoot td {
	
}

#bo_v .tbl_head01 tbody th {
	
}

#bo_v .tbl_head01 td {
	
}

#bo_v .tbl_head01 a {
	
}

#bo_v td.empty_table {
	
}

/* 쓰기 테이블 */
#bo_w table {
	
}

#bo_w caption {
	
}

#bo_w .frm_info {
	
}

#bo_w .frm_address {
	
}

#bo_w .frm_file {
	
}

#bo_w .tbl_frm01 {
	
}

#bo_w .tbl_frm01 th {
	
}

#bo_w .tbl_frm01 td {
	
}

#bo_w .tbl_frm01 textarea, #bo_w tbl_frm01 .frm_input {
	
}

#bo_w .tbl_frm01 textarea {
	
}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {
	
}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {
	
}

#bo_w .cke_sc {
	
}

#bo_w button.btn_cke_sc {
	
}

#bo_w .cke_sc_def {
	
}

#bo_w .cke_sc_def dl {
	
}

#bo_w .cke_sc_def dl:after {
	
}

#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {
	
}

#bo_w .cke_sc_def dt {
	
}

#bo_w .cke_sc_def dd {
	
}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_list {
	position: relative;
	
}

#bo_list:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: ""
}

.likeTbl {
	width: 100%;
	margin-bottom: 20px;
}

.likeTbl>ul {
	display: table;
	width: 100%;
}

.likeTbl>ul>li {
	display: table-row;
	width: 100%;
}

.likeTbl>ul>li>div {
	display: table-cell;
}

.likeTbl>ul>li.likeTblTh {
	background: #f8f8f8;
}

.likeTbl>ul>li.likeTblTh>div {
	padding: 15px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
	text-align: center;
}

.likeTbl>ul>li.likeTblTd>div {
	padding: 15px 2px;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}

.likeTbl>ul>li:hover.likeTblTd {
	background: #fafafa;
}

.likeTbl>ul>li.likeTblTd .td_subject a {
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.likeTbl>ul>li:hover.likeTblTd .td_subject a {
	padding-left: 5px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.likeTbl>ul>li.likeTblTd .td_subject .bo_tit a {
	display: block;
}

.likeTbl>ul>li.likeTblTd .td_subject .bo_tit a em {
	font-style: normal;
}

.likeTbl>ul>li:hover.likeTblTd .td_subject .bo_tit a em span, .likeTbl>ul>li:hover.likeTblTd .td_subject .bo_tit a em i
	{
	color: #333 !important;
}

.bo_notice, .bo_notice>div {
	background: #fcf9f3 !important;
}

.likeTbl .td_board {
	width: 120px;
	text-align: center
}

.likeTbl .td_chk {
	width: 30px;
	text-align: center
}

.likeTbl .td_date {
	width: 60px;
	text-align: center;
	font-style: italic;
}

.likeTbl .td_datetime {
	width: 60px;
	text-align: center;
	font-style: italic;
	color: #999;
	font-size: 11px;
	font-family: verdana;
}

.likeTbl .td_group {
	width: 100px;
	text-align: center
}

.likeTbl .td_mb_id {
	width: 100px;
	text-align: center
}

.likeTbl .td_mng {
	width: 80px;
	text-align: center
}

.likeTbl .td_name {
	width: 90px;
	text-align: center;
	padding: 10px 0
}

.likeTbl .td_nick {
	width: 100px;
	text-align: center
}

.likeTbl .td_num {
	width: 60px;;
	text-align: center;
	color: #999;
	font-size: 11px;
}

.likeTbl .td_num2 {
	width: 90px;;
	text-align: center;
	color: #999;
	font-size: 11px;
}

.likeTbl .td_numbig {
	width: 80px;
	text-align: center
}

.likeTbl .txt_active {
	color: #5d910b
}

.likeTbl .txt_expired {
	color: #ccc
}

.td_subject img {
	margin-left: 5px
}

/*.likeTbl .profile_img {display:inline-block;;margin-right:2px}*/
.likeTbl .profile_img img {
	border-radius: 50%
}

.likeTbl .cnt_cmt {
	display: inline-block;
	background: #242424;
	color: #fff;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	border-radius: 3px;
	vertical-align: middle;
}

.likeTbl .bo_tit .fa-download {
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: #ddd;
	color: #999;
	text-align: center;
	font-size: 10px;
	border-radius: 2px;
	margin-right: 2px;
	vertical-align: middle;
	margin-right: 2px
}

.likeTbl .bo_tit .fa-link {
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: #ddd;
	color: #999;
	text-align: center;
	font-size: 10px;
	border-radius: 2px;
	margin-right: 2px;
	vertical-align: middle;
	margin-right: 2px;
	font-weight: normal;
}

.likeTbl .bo_tit .new_icon {
	display: inline-block;
	width: 16px;
	line-height: 16px;
	font-size: 0.833em;
	color: #999;
	background: #ddd;
	text-align: center;
	border-radius: 2px;
	vertical-align: middle;
	margin-right: 2px
}

.likeTbl .bo_tit .hot_icon {
	display: inline-block;
	width: 16px;
	line-height: 16px;
	font-size: 0.833em;
	color: #999;
	background: #ddd;
	text-align: center;
	border-radius: 2px;;
	vertical-align: middle;
	margin-right: 2px;
	font-weight: normal
}

.likeTbl .bo_tit .fa-lock {
	display: inline-block;
	line-height: 14px;
	width: 16px;
	font-size: 0.833em;
	color: #fff;
	background: #333;
	text-align: center;
	border-radius: 2px;
	font-size: 12px;
	border: 1px solid #000
}

.likeTbl .bo_tit a {
	font-size: 14px;
}

.onlyMvV {
	display: none;
}

.likeTbl>ul>li>div.mvInlinev i {
	display: none;
}

.qnaIco {
	display: inline-block;
	font-size: 12px;
	margin-right: 5px;
	border-radius: 3px;
	background: #999;
	width: 80px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-align: center;
}

.qnaIco1 {
	background: #990000
}

.qnaIco2 {
	background: #c89b43
}

.qnaIco3 {
	background: #cccccc
}

.qnaIco i {
	display: inline-block !important;
}

@media all and (max-width: 800px) {
	.likeTbl>ul {
		display: block !important;
	}
	.likeTbl>ul>li {
		display: block !important;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		position: relative;
	}
	.likeTbl>ul>li>div {
		display: block;
		border-bottom: 0px !important;
		padding: 0px;
	}
	.likeTbl>ul>li.likeTblTd {
		padding: 7px 15px 15px;
		text-align: left;
	}
	.likeTbl>ul>li.likeTblTd>div {
		padding: 0px;
		border-bottom: 0px;
	}
	.likeTbl>ul>li>div.mvInlineN {
		display: none;
	}
	.likeTbl>ul>li>div.mvInlinev {
		display: inline-block;
		width: auto !important;
		padding: 0 5px;
		font-size: 10px;
	}
	.likeTbl>ul>li>div.mvInlinev i {
		display: inline-block;
		margin-left: 3px;
	}
	.likeTbl>ul>li>div.mvInlinev:before {
		content: " / ";
		color: #ddd;
	}
	.likeTbl>ul>li>div.mvInlinev.td_name:before {
		content: " "
	}
	.likeTbl>ul>li>div.mvInlinev.td_name {
		padding-left: 2px;
	}
	.likeTbl>ul>li>div.mvInlinev.td_num2 {
		padding-left: 0px;
		margin-top: 7px;
		margin-left: -8px;
	}
	.likeTbl>ul>li>div.td_subject {
		display: block;
	}
	.likeTbl>ul>li>div.td_subject a {
		padding: 0 0 8px 0;
	}
	.likeTbl>ul>li>div.td_subject a.bo_cate_link {
		display: inline-block;
		padding-top: 8px;
	}
	.likeTbl>ul>li>div.td_chk {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.likeTbl>ul>li:hover.likeTblTd .td_subject a {
		padding-left: 0px;
	}
	.likeTbl>ul>li.likeTblTd .td_subject .bo_tit a {
		padding-top: 8px;
	}
	.onlyMvV {
		display: inline-block;
		margin-left: -5px;
	}
}