<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainMapper">


	<!-- 이메일을 받아 해당 이메일이 회원테이블에 있는지 확인 -->
	<select id="loginCheck" resultType="HashMap" parameterType="com.pi.domain.MemberVO">
		SELECT m.email email 
		, m.nickname nickname
		, m.member_grade member_grade
		, m.member_state member_state
		, m.introduce introduce
		, m.business_number business_number
		, i.path path
		FROM member m LEFT OUTER JOIN image i 
		ON m.email = i.email
		WHERE m.email=#{email}
	</select>
	
	<!-- DB에서 시,도 정보 가져옴 -->
	<select id="selectAddr1" resultType="com.pi.domain.LocationVO">
		SELECT DISTINCT addr1 FROM location
	</select>
	
	<!-- DB에서 시,군,구 정보 가져옴 -->
	<select id="selectAddr2" resultType="com.pi.domain.LocationVO" parameterType="com.pi.domain.LocationVO">
		SELECT DISTINCT addr2 FROM location WHERE addr1 = #{addr1}
	</select>
	
	<!-- DB에서 법정동명 정보 가져옴 -->
	<select id="selectAddr3" resultType="com.pi.domain.LocationVO" parameterType="com.pi.domain.LocationVO">
		SELECT DISTINCT addr3 FROM location WHERE addr2 = #{addr2}
	</select>
	
	<!-- 이용자가 선택한 지역명으로 지역번호를 찾아옴 -->
	<select id="selectLocNumByAddr" resultType="com.pi.domain.LocationVO" parameterType="com.pi.domain.LocationVO">
		SELECT location_number FROM location WHERE addr1 = #{addr1} AND addr2 = #{addr2} AND addr3 = #{addr3}
	</select>
	
	<!-- 문의등록 -->
	<insert id="insertQuestion" parameterType="com.pi.domain.QuestionVO">
		INSERT INTO question
		( email, question_category, title, content, member_check ) 
		VALUES
		( #{email}, #{question_category}, #{title}, #{content}, #{member_check} )
	</insert>
	
	<!-- 문의이미지등록 -->
	<insert id="insertQImage" parameterType="com.pi.domain.ImageVO">
		INSERT INTO image 
		( question_number, original_name, save_name, path, size )
		VALUES
		( (SELECT MAX(question_number) FROM question)
		, #{original_name}, #{save_name}, #{path}, #{size} )
	</insert>
	
	<!-- 회원이메일로 해당 회원의 관심지역정보를 가져옴 -->
	<select id="selectAllLocationNumberByEmail" resultType="HashMap" parameterType="String">
		SELECT l.location_number location_number
		, l.addr1 addr1
		, l.addr2 addr2
		, l.addr3 addr3
		, i.interest_location_number interest_location_number
		FROM location l INNER JOIN 
		(SELECT location_number, interest_location_number FROM interest_location
		WHERE email = #{email}) i 
		ON l.location_number = i.location_number
	</select>
	

</mapper>