<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<!-- 회원등록 -->
	<insert id="insertMember" parameterType="com.pi.domain.MemberVO">
		INSERT INTO member 
		( email, nickname, introduce )
		VALUES
		( #{email}, #{nickname}, #{introduce} )
	</insert>
	
	<!-- 회원 관심지역등록 -->
	<insert id="insertInterestLocation" parameterType="com.pi.domain.InterestLocationVO">
		INSERT INTO interest_location
		( email, location_number )
		VALUES
		( #{email}, #{location_number} )
	</insert>
	
	<!-- 관심지역 변경 -->
	<update id="mod_interest_location" parameterType="HashMap">
		UPDATE interest_location
		SET location_number = #{mod_location_number}
		WHERE interest_location_number = #{interest_location_number}
	</update>
	
	<select id="img_check" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM image
		WHERE email = #{email}
	</select>
	
	<insert id="img_insert" parameterType="com.pi.domain.ImageVO">
		INSERT INTO image 
		( email, original_name, save_name, path, size )
		VALUES
		( #{email}, #{original_name}, #{save_name}, #{path}, #{size} )
	</insert>
	
	<update id="img_update" parameterType="com.pi.domain.ImageVO">
		UPDATE image
		SET original_name = #{original_name}, save_name = #{save_name}, path = #{path}, size = #{size}
		WHERE email = #{email}
	</update>
	
	<update id="member_update" parameterType="com.pi.domain.MemberVO">
		UPDATE member
		SET nickname = #{nickname}, introduce = #{introduce}
		WHERE email = #{email}
	</update>
	
	<select id="select_my_class">
		SELECT *
		FROM class
		WHERE email = #{email}
	</select>
	
	<select id="select_my_like">
		SELECT 
		FROM like l INNER JOIN class c
		ON l.class_number = c.class_number
		WHERE l.like_state=1 AND l.email=#{email}
	</select>
	
	<select id="select_prev_class">
	</select>
	
	
	
</mapper>